{% extends "base.jinja" %}
{% block title %}NYBG Internship{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4>Girlup Club</h4>
  <p>
    I joined GirlUp when I first arrived at Taft in my sophomore year. Currently, I am serving as vice president of the
    club. GirlUp is a global initiative founded by the UN Foundation, which advocates for equity for girls and women. We
    raise awareness about gender equality at Taft and promote education on women’s rights issues across the broader
    Watertown and Waterbury community. I have participated in organising events such as poster-making sessions for
    Women’s History Month, school-wide discussion panels about abortion and inequality faced by incarcerated women, and
    trips to afternoon programs in Watertown to teach young girls about the contributions and achievements of women in
    history and the present.
  </p>
</div>
{% endblock %}