{% extends "base.jinja" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>About Me</h2>
  <p>Hi! I’m Anny Qian, a student attending The Taft School in Connecticut. I grew up in Shanghai, but lived in Toronto for two years before coming to the United States. Academically, I am passionate about environmental science and biology, and I am always looking to learn more about plants, animals, and their interactions with human activity. I am also an artist, with an interest in both visual arts and musical theatre. I love to do watercolour, acrylic, and oil painting. I also act in many musical productions at school. In my free time, I am always exploring a variety of different hobbies such as reading books, crocheting clothes and tote bags, cooking new recipes, and baking all sorts of desserts.</p>

  <h2>Contact</h2>
  <p>Email: annyqian08@gmail.com</p>
  <p>Phone: (860)-999-8486</p>
</div>
{% endblock %}