{% extends "base.jinja" %}
{% block title %}Interactive Map{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4>Interactive Map</h4>
  <p>The Interactive Map of DaoDi Traditional Chinese Medicinal Herbs is an online cultural and scientific database of DaoDi Traditional Chinese Medicinal Herbs, or “道地药材”. Daodi herbs are unique due to their association with specific regions where they are cultivated and produced: factors such as local climate, soil conditions, traditional harvesting techniques, and historical practices all contribute to their exceptional quality. Through completing extensive literature reviews and conducting detailed online research, I created this map, cataloging over __ DaoDi medicinal herbs.  This map serves as both a cultural and scientific archive, aiming to raise awareness of Daodi herbs by documenting their medicinal uses and sharing the environmental, historical, and regional factors that make each herb unique.
  </p>
  <iframe style="height: 90vh" class="w-100" src="https://map.proxi.co/r/DaoDiTCM" title="interactive_map"></iframe>
</div>
{% endblock %}