{% extends "base.jinja" %}
{% block title %}Interactive Map{% endblock %}

{% block content %}
<div class="container-fluid">
  <h3>Your Title Here</h3>
  <p>Your description here</p>
  <iframe style="height: 90vh" class="w-100" src="https://map.proxi.co/r/DaoDiTCM" title="interactive_map"></iframe>
</div>
{% endblock %}