{% extends "base.jinja" %}
{% block title %}NYBG Internship{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4>NYBG Summer Internship</h4>
  <p>Over the course of my Sophomore summer, I completed a 9-week internship at the New York Botanical Garden, under the guidance of Dr. Brad Oberle. The research I assisted with focused on studying the plant family of Bromeliads, specifically the functional traits of different Bromeliad species and how these traits impact their growth cycle and nitrogen use. When I joined the team this summer, the project had just started. Hence, I participated in a variety of tasks to start and lay the foundation for the grant, which will carry on for several years. 
  </p>
  <p><strong>Collecting plant samples:</strong> We went to the Nolan Greenhouse at NYBG, where we collected leaf, inflorescence, infructescence, and senesced tissues from over 35 different species of living Bromeliad plants. We also went to the Steere Herbarium, where we collected plant tissue samples from preserved Bromeliad specimens. This allowed us to contrast features of Bromeliads found in the wild with the Bromeliads that are cultivated at the garden. The species chosen had a diverse range of characteristics, including terrestrial plants, epiphytic plants, CAM plants, and C3 plants.</p>
  <p><strong>Collecting SLA measurements:</strong> To find the Specific Leaf Area (SLA) of the Bromeliads, we used the formula of flat leaf area over the dry mass of the leaf. To find the flat leaf area, we first pressed each leaf with a heavy glass board. Then, we used a mobile app called PetiolePro to image the leaves and find their flat area. For certain leaves that the technology failed to capture accurately, we used a program called ImageJ to trace each leaf manually to find its flat area. To find the dry mass, we put the leaves in an oven at 60 degrees Celsius to dry. We took the mass of these leaves every few days until their mass decreased by less than 5 percent.</p>
  <p><strong>Grinding and packaging plant tissue:</strong> I also helped to grind plant tissue and package individual samples to send off for nitrogen concentration analysis. To do this, we ground up each leaf in an industrial grinder. Then, I utilised a microbalance to transfer a tiny amount of the ground material into a small tin capsule so it could be used for chemical analysis.</p>
  <p><strong>Monitoring plant history and leaf lifespan:</strong> In the greenhouse, I also assisted Dr. Oberle in taking the first round of measurements for continued monitoring of plant history and leaf lifespan. For each species, we collected and recorded data on characteristics such as the longest leaf length of each rosette, the number of photosynthetic leaves, the number of senesced leaves, the percentage of specific leaves that were senesced, and more. </p>
  <p><strong>Refining and cataloging herbarium samples:</strong> A part of the digital work I completed was refining the Bromeliad samples in the herbarium. I looked through the online images of over 200 specimens of Bromeliads, specifically in the Tillandsioideae subfamily. I recorded crucial information such as whether an entire rosette was present, the specimen’s reproductive status, whether there were parts of the samples suitable for removal, and the habitat the specimen was found. This helped us to clearly identify which samples we could collect from, and also provided future viewers of the collections with more comprehensive knowledge of each specimen.</p>
</div>
{% endblock %}